<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/detalhesproduto-style.css" />
<body>

    <%- include('./partials/header') %>
    <%- include('./partials/menu') %>



    <div class="main-container1">
        <div class="detalhes-container">
            <h1><%= product.persona_name %></h1>
            <div class="detalhes-descricao">
                    <ul>
                        <li>Arcana: <%= product.arcana_id %></li>
                        <li>Level: <%= product.persona_level %></li>
                        <li>Descrição: <%= product.persona_description %></li>
                    </ul>
            </div>
            <div class="preco-e-button">
                <p class="preco">R$ <%= product.product_price %>,00</p>
                <button>COMPRAR!
                    <img class="carrinho-icon" src="/images/carrinho-de-compras.png" />
                </button>

            </div>
        </div>
        <div class="img-detalhes-container">
            <img class="product-img" src="/images<%= product.persona_img %>" />
        </div>      
    </div>


    <%- include('./partials/footer') %>

    <script src="/javascripts/script.js"></script>
    
</body>
</html>