<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home-style.css" />
<body>

    <%- include('./partials/header') %>
    <%- include('./partials/menu') %>

    <div class="main-container1">
        <h1>TODOS OS SEUS DEMÔNIOS PREFERIDOS EM UM SÓ LUGAR</h1>
        <div class="home-container2">
            <div class="jackfrost-home"><img class="png-home" src="/images/jackfrost1.png"/></div>
            <div class="apresentacao-container2">
                <h2>Escolha uma categoria</h2>
                <div class="lista">

                    <% arcanas.map((arcanas) => { %>
                        <div class="arcana-list">
                            <button class="arcana-anchorB"></button><a class="arcana-anchor" href="./listagem/"><%= arcanas.arcana_type %>></a></button>
                        </div>
                    <% }) %>

                </div>
                <button class="explorar">Explorar</button>
            </div>
        </div>


        <section>
            <p class="banner-text">Promoções do mês</p>
            <div class="promocoes-container">
                <div class="promocao">
                    <h3>nome persona</h3>
                    <div class="img-promo"></div>
                    <p class="texto-section">de R$123,00 por R$122,99</p>
                </div>
                <div class="promocao">
                    <h3>nome persona</h3>
                    <div class="img-promo"></div>
                    <p class="texto-section">de R$123,00 por R$122,99</p>
                </div>
                <div class="promocao">
                    <h3>nome persona</h3>
                    <div class="img-promo"></div>
                    <p class="texto-section">de R$123,00 por R$122,99</p>
                </div>
                <div class="promocao">
                    <h3>nome persona</h3>
                    <div class="img-promo"></div>
                    <p class="texto-section">de R$123,00 por R$122,99</p>
                </div>
            </div>
        </section>
    </div>

    


    <%- include('./partials/footer') %>

    <script src="/javascripts/script.js"></script>

</body>
</html>