<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/listagem-style.css" />
<body>
    
    <%- include('./partials/header') %>


    <div class="main-container1">
        <h2>Lista de demônios</h2>
        <div class="lista-produtos">

  
            <% products.map((persona) => { %>


            <div class="produto">
                <div class="produto-img"></div> <!--colocarei o link p img no css-->
                <div class="produto-infos">
                    <h3><%= persona.persona_name %></h3>
                    <div class="produto-misc">
                        <p class="preco">R$ <%= persona.product_price %>,00</p>
                        <a class="produto-detalhes" href="./detalhesproduto/<%= persona.id %>">Mais detalhes</a>
                        <button class="button-carrinho">Adicionar
                            <img class="carrinho-icon" src="/images/carrinho-de-compras.png" /></button>
                    </div>
                </div>
            </div>

        <% }) %>
            
            
        </div>

        <div class="navegacao-produtos">
            <button class="navegacao-button">Página anterior</button>
            <button class="navegacao-button">Próxima página</button>
        </div>
    </div>



    <%- include('./partials/footer') %>

</body>
</html>