<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/login-style.css" />
<body>
    
    <%- include('./partials/header') %>
    <%- include('./partials/menu') %>

    

    <div class="main-container1">
        <div class="login-cadastro-box">
            <h2>entre ou cadastre-se!</h2>
            <% if(typeof errors !== 'undefined'){ %>
            <ul class="errors-div">
                <% for(let error in errors){ %>
                    <li>
                        <b><%= error %>:</b>
                        <%= errors[error].msg %>
                    </li>
                <% } %>
            </ul>
            <% } %>
            <form action="/paginausuario" method="POST">
                <label for="email">E-mail</label>  <br>
                <input type="email" name="email">  <br>
                <label for="senha">Senha</label>  <br>
                <input type="password" name="senha">  <br>
                <input type="checkbox" name="logado">
                <label for="">Manter logado?</label><br>
                <button type="submit">ENTRAR</button>
            </form>
            <a class="anchorRedirect" href="./editar">CADASTRAR-SE</a>
        </div>
        
    </div>




    <%- include('./partials/footer') %>

</body>
</html>