<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/login-style.css" />
<body>
    
    <%- include('./partials/header') %>

    <div class="main-container1">
        <div class="login-cadastro-box">
            <h2>entre ou cadastre-se!</h2>
            <% if(typeof errors !== 'undefined'){ %>
            <ul>
                <% for(let error in errors){ %>
                    <li>
                        <b><%= error %>:</b>
                        <%= errors[error].msg %>
                    </li>
                <% } %>
            </ul>
            <% } %>
            <form action="/" method="POST" enctype="multipart/form-data">
                <label for="email">E-mail</label>  <br>
                <input type="email" name="email">  <br>
                <label for="password">Senha</label>  <br>
                <input type="password" name="password">  <br>
                <button type="submit">ENTRAR</button>
            </form>
            <a>CADASTRAR-SE</a>
        </div>
        
    </div>




    <%- include('./partials/footer') %>

</body>
</html>